.right-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-rating button {
  margin: 10px;
}

.right-rating select {
  margin: 10px;
}

#mentor-match-img {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#mentor-match-img:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.request-text-company {
  display: flex;
  align-items: center;
}

.request-text-company img {
  margin: 10px;
  width: 50px;
  height: 50px;
}
