/* body {
  margin: 0px;
}

button {
  margin: 5px;
  padding: 5px;
  border: none;
  border-radius: 8px;
  border-width: 0.1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 10px;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

input {
  margin: 5px;
  padding: 5px;
  width: 75%;
}

select {
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 14px;
} */
