body {
  margin: 0px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

input {
  margin: 5px;
  padding: 5px;
  width: 75%;
}

select {
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 14px;
}
