.rc-body {
  display: flex;
  width: 100%;
}

.rc-left {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rc-right {
  margin: 10px;
  padding: 10px;
  width: 100%;
}

.rc-right p {
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-height: 300px;
  overflow: auto;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 2px;
}

*::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #555;
}

*::-webkit-scrollbar-track {
  border-radius: 8px;
  background: #f1f1f1;
}

*.rc-right p {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

#rc-img {
  width: 25px;
  height: auto;
}

#rc {
  height: 300pxx;
}
