.calendar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border: 0.7px solid black;
  background-color: #7091e6;
  width: 90%; /* Adjust width as needed */
}

.fc-media-screen {
  width: 100%;
  padding: 10px;
}

.fc-toolbar-chunk {
  display: flex;
}

.add-meeting-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}
